<link rel="stylesheet" href="/css/review_detail.css">
<link rel="stylesheet" href="/css/media/media_review_detail.css">
<%if(locals.user){%>
    <div id="review-detail-page-body-container">

        <div class="review-details-container">
            <h2>Review Details</h2>

            <p><b>Title</b> : <%= review.title%></p>
            <p><b>Created By</b> : <%= review.created_by_user.name%></p>
        </div>


        <%if(locals.user){%>
            <%if(locals.user.isAdmin){%>
                <div class="add_user_main_container">
                    <div>
                        <a id="outer_link" class="outer-link" href="#add_user_form">
                            <div class="add-a-user">
                                <p>Add a User</p>
                            </div>
                        </a>
                    </div>


                    <div style="display: none;" id="add_user_form" class="form-main-container">
                        <form action="/reviews/addUser/review/<%= review._id%>" method="post">
                            <div class="check-email-input">
                                <input type="hidden" name="hiddenInp" id="hiddenInp" value="<%=review.reviewed_user.email%>" disabled>
                                <input type="hidden" name="hiddenInpCreatedUser" id="hiddenInpCreatedUser" value="<%=review.created_by_user.email%>" disabled>
                                <input id="user_email" class="form-control" type="email" name="email" id="email" placeholder="User Email" required>
                                <button id="check_user_btn" class="btn btn-secondary" type="button">Check User</button>
                            </div>
                            <span id="message"></span>
                            <button id="sunmit_button" type="submit" class="btn btn-primary m-2" disabled>Add</button>
                        </form>
                    </div>
                </div>
            <%}%>
        <%}%>
        
        <div class="comments-form-container">
            <div class="comment-form">
                <%if(locals.user && review.reviewed_user._id != locals.user.id){%>
                    <form action="/reviews/detail/<%=review._id%>/addComment" method="post">
                            <textarea class="form-control" name="comment" id="comment" cols="30" rows="2" placeholder="Type a Comment" required></textarea><br>
                            <button class="btn btn-primary">Add Comment</button>
                    </form>
                <%}%>
            </div>
        </div>
        <h2 style="text-align: center; margin-top: -1rem; padding: 1rem;">Comments</h2>
        <div id="comments">
            
            <div class="comments-section">
                <%if(comments.length == 0){%>
                    <p>No Comments as of now</p>
                <%}else{%>
                    <div class="comment-container">
                        <%for(let comment of comments){%>
                            <div class="comment-content">
                                <p><%= comment.content%></p>
                                <p style="font-size: 0.9rem; margin-left: 0.2rem;"><%= comment.user_id.name%></p>
                            </div>
                        <%}%>
                    </div>
                <%}%>
                
            </div>
        </div>

    </div>
<%}%>


<script src="/js/review_detail.js"></script>